.App {
  
  margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
}


.dark-mode{
  background-color: #000000;
	color:#FFF;
}

#button1{
  position: fixed;
  bottom: 7px;
	right: 16px;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: 0;
	padding: 10px;
  text-align: center;
	text-decoration: underline;
  color: #FFF;
	font-size: 12px;
	cursor: pointer;
}

#wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 1250px;
  height: 2856px;
  justify-content: baseline;
  
}


.App-logo {
  background-color: #000000;
	color:#FFF;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 100%;
	height: 255px;
  background-color: rgba(230, 228, 228, 0.11);
  box-shadow:5px 5px 5px #555555;
	border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

header div{
  margin: 0 ;
	padding: 0;
	border: 0;
  order: 2;
  width: 210px;
	height:150px;
	float:left;
	margin-right: 166px;
}


#left{
  padding: 0;
	border: 0;
  width: 90%;
	height:147px;
}

.div2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header .menu ul{
  width: 159px;
}

#header1{
	width: 254px;
	height:111px;
	float:left;
	order: 2;
}


.right_sidbar{
  padding: 0;
	border: 0;
	float:left;
	display:flex;
	justify-content: space-between;
	width: 210px;
}

#search{
	height:20px;
	
}

.searchbtn{
  background-color: #ffec00;
	margin-top:-1px;
	width: 50px;
  height: 30px;
  margin-right:2px ;
	border-radius: 5px;
	font-weight: bold;
  cursor: pointer;
}


div.searchbtn i#button.fas.fa-search{
  width: 170%;
	margin-top: 10%;
	margin-left:5px ;
	cursor: pointer;
}

article{
  flex: none;
  margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
  float:left;
	font-size: 16px;
  width: 100%;
	height: 2184px;
  background-color: rgba(214, 213, 213, 0.11);
  box-shadow:5px 5px 5px #555555;
	border-radius: 10px;
  border: 1px solid black;
}

article section.image{
  margin: 0px 131px;
	padding: 0;
	border: 0;
	width: 250px;
	height:220px;
  float:left;
}

article section.image #imageId{
  margin: 0;
	padding: 0;
	border: 0;
  margin-left: 300px;
  width: 305px;
	height:230px;
  float:left;
}

section.position_Of_Iran{
  margin: 0;
	margin-top:48px;
	padding: 0;
	border: 0;
  width: 96%;
  height:250px;
	float:left;
}

#h1{
	border: 0;
}

#hr{
	margin-top: -20px;
  color: #000000;
}


section.history_Of_Iran{
  margin: 0;
	padding: 0;
	border: 0;
	margin-top: 38px;
	width: 96%;
	height:250px;
	float:left;
}


#p{
	margin-top: -15px;
}

#h2{
	border: 0;
}

#hr2{
  margin-top: -20px;
  color: #000000;
}

article section.list{
	margin: 0;
	margin-top:70px;
	padding: 0;
	border: 0;
	width: 96%;
	height:235px;
	float:left;
}

section.table{
	margin: -30px;
	padding: 0;
	border: 0;
	width: 100%;
	min-height: 700px;
	height:700px;
	max-height: 998px;
	float:left;
}

table{
	width:80%;
	height: 50%;
}

table, th, td{ 
	border:2px solid black;
}

section.last_paraghraf{
	margin: 0;
	padding: 0;
	border: 0;
	width: 96%;
	height:51px;
	float:left;
}

section.icons{
  margin: 0;
	padding: 0;
	border: 0;
	width: 96%;
	height:74px;
	float:left;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-evenly;
}

#left_Icon_Id{
  margin: 0;
padding: 0;
border: 0;
width:50px;
height:50px;
  float:left;
order: 2;
}


#P1{
order: 1;
}

#Right_Icon_Id{
  margin:0 ;
padding: 0;
border: 0;
width:50px;
height:50px;
float:left;
order: 4;
}

#P2{
order: 3;
}

.submit{
	margin:0 ;
	padding: 0;
	border: 0;
	width: 96%;
	height:74px;
	float:left;
}


#footer{
  display: flex;
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
  width: 100%;
	height: 210px;
	background-color: rgba(214, 213, 213, 0.11);;
	box-shadow:1px 1px 1px #555555;
  border: 1px solid black;
	border-radius: 10px;
  align-items: center;
	justify-content: center;
	/*FFF*/
}

#movie{
	margin: 0 ;
	padding: 0;
	border: 0;
	width: 256px;
}

@media  screen and (max-width: 800px){
	/*
	article{
		background-color: #5FC77D;

	}	
	*/
	section.table{
		height: 800px;
	}
	footer{
		height: 280px;
	}
}

@media  screen and (min-width: 800px){
	.div2{
		width: 254;
	}

}
::selection {
  color: #FFFEFE;
  background: #000000;
}

input:focus {
  background-color: #5FC77D;
}






.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
