.App {
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
  width: 1353px;
  height: 2856px;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 66px;
  background: #282c34;
  justify-content: space-around;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

.Logo {
  margin: 0;
  padding: 0;
  border: 0;
  width: 200px;
  height: 100%;
}

header ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 115px;
  list-style-type: none;
  line-height: 56px;
}

header ul li {
  height: 100%;
}

header ul li a {
  color: #ffffff;
  text-decoration: none;
}

li:hover,
li:hover > a {
  background-color: #ffffff;
  color: #000;
}

/*











*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
