.App {
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
  width: 1353px;
  height: 2856px;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 66px;
  background: #282c34;
  justify-content: space-around;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

.Logo {
  margin: 0;
  padding: 0;
  border: 0;
  width: 200px;
  height: 100%;
}

.div1{
  display: flex;
  width: 903px;
  justify-content: right;

}
header ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  list-style-type: none;
  line-height: 56px;
}

header ul.Pages{
  width: 218px;
}

header ul li {
  height: 100%;
}

header ul.Pages li.About a ,header ul.Pages li.Blog a ,header ul.Pages li.Contact a  {
  color: #ffffff;
  text-decoration: none;
}

li.Home:hover, li.About:hover ,li.Blog:hover,li.Contact:hover,
div.div1 ul li.Home:hover > a ,div.div1 ul li.About:hover > a,
div.div1 ul li.Blog:hover > a,div.div1 ul li.Contact:hover > a{
  background-color: #ffffff;
  color: #000;
}

.Home {
  background-color: #ffffff;
}

.Home_Button {
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
}

header ul.images{
  margin-top:7px ;
  line-height: 48px;
  width: 86px;
  height: 78%;
}

li.twitter{
  height: 78%;
}


.twitter_image{
  width: 20px;
  height: 20px;
  background: transparent;
  

}

li.Dribble{
  height: 78%;
}

header ul  li.Dribble a img.Dribble_image{
  width: 20px;
  height: 20px;
  background: transparent;
  
}
li.Instagram{
  height: 78%;
}
a img.Instagram_image{
  width: 20px;
  height: 20px;
  background: transparent;
  background-color:#f0f8ff ;
}

li.twitter:hover,
li:hover > a.twitter_image   {
  background-color: #00ffff;
  color: #ffffff;
  border-radius: 190px;
}

li.Dribble:hover, li:hover > a.Dribble_image{
  background-color:#ff00c3 ;
  color: #ffffff;
  border-radius: 190px;
}



li.Instagram:hover, li:hover > a.Instagram_image{
  background-color:#c46109c4 ;
  color: #ffffff;
  border-radius: 190px;
}

/*











*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
